@font-face {
    font-family: 'Nunito';
    src : url(../fonts/Nunito-Regular.ttf )
 }


body { background-color: white; }
* { margin: 0;
    padding: 0;
    box-sizing: border-box;}
.conteiner {
    background: linear-gradient(110deg, lightblue 30%, lightpink 70%);
    height: 1156px;
 
    left: 0px;
    top: -10px;
    border-radius: 0px;
    
    
  
      

}
.conteiner_naw {
   display: flex;
    padding-top: 30px;
  
   
}
.conteiner_naw1 {
   display: block;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  
   
   
  
}
.img_1 {
    position: absolute;
width: 57px;
height: 57px;
left: 6.16px;

transform: rotate(-360deg);
}
.img_2 {
position: absolute;
width: 29.39px;
height: 29.39px;
left: 38.58px;
top:24.58px;
transform: rotate( -360deg);

}


.conteiner_naw2 {
    font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 160%;
color: #2C2D36;


}
a {text-decoration: none;}
.conteiner_naw3 {
    height: 29px;
width: 500px;
left: 386px;
top: 30.58203125px;
border-radius: nullpx;
margin-left: 175px;




}


#naw a { padding: 20px;
    display: block;
}
#naw li {
    float: left;
}
ul {
    list-style-type: none;
   
    overflow: hidden;
}

.naw_1 { 
    font-family: Nunito;
    
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;


text-transform: capitalize;

color: #292930;}
.naw_3 {background-color: bisque;
border: 1px solid bisque;}

#circle{
 
    background: white;
    border-radius: 50%;
    
   
    width: 650px;
    height: 650px;
    float: right;
    transform: translate(10%, -35%);
    
    

}
