@font-face {
    font-family: 'Nunito';
    src : url(../fonts/Nunito-Regular.ttf )
 }

 @font-face {
    font-family: 'Noto Sans';
    src : url(../fonts/NotoSansNKo-Regular.ttf )
 }

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;}

.conteiner {
    background: linear-gradient(110deg, lightblue 20%, lightpink 80%);
    height: 1156px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.circle {
    position: absolute;
}
.conteiner_naw
{display: flex;
justify-content: center;



    height: 81px;}
.naw_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.logo {
    margin-right: auto;
    margin-top: 60px;
    width: 211px;
height: 81.16px;
}
.nawbar{display: flex;}
#naw {
    display: flex;
    float: right;
    justify-content: right;
  
    width: 500px;
    margin-top: 90px;
   margin-left: 175px;
    z-index: 1;
}
a {text-decoration: none;}
ul {display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
gap: 35px;}
li {display: inline;}
.naw_2 {
    font-family:Nunito ;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #292930;
}
.naw_5{
    color:white;
    font-family:Nunito ;
}

.naw_4 {color:white;
    font-family:Nunito ;
    font-style: normal;
    width: 173px;
height: 64px;
left: 1033px;
top: 8.58px;
margin-top: 45px;
background: #292930;
border-radius: 7px;
margin-left: 150px;

position: absolute;
}
.nawbar_naw {display: inline-block;}
.nawbar_naw1 {box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
    display: none;
    position: absolute;
background-color: white;
border-radius: 14px;
}

.nawbar_naw1 > a {color: purple;
    width: 215px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: white;
    font-size: 16px;
}
.nawbar_naw:hover .nawbar_naw1{display: block;
}
.conteiner_img1 {position: absolute;
margin-left: -160px;
    margin-top: -156px;
}


.conteiner_text {
 width: 740px;
height: 470px;
margin-left: 260px;
margin-top: 251px;}
.text > span {
    letter-spacing: 0.135em;
    font-weight: 500;

color: #FEC90C;
}
.text { font-family:'Noto Sans';
    letter-spacing: 0.135em;
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 156.5%;
color: black;
}
.text_3 {
    font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 110.5%;

font-family:Nunito ;
margin-top:28px;

color: #292930;
margin-bottom: 34px;
}
b {color:purple;}
.text_1 {
    
width: 593px;
height: 56px;

font-family:'Noto Sans' ;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
margin-bottom: 34px;


color: #555555;
}
.naw_61 {
 width: 182px;
height: 64px;
border-radius: 7px;
background: #D9D9D9;

font-family:Nunito ;
margin-right: 20px;
    border: 1.5px solid #292930;
    border-radius: 7px;
    cursor: pointer;
}


.naw_6 {position: relative;
    z-index: 1;}
.naw_61:hover { background-color: black;
    color: white;
    cursor: pointer;}

.conteiner_2 {
    height: 1579px;

background: #292930;
}
.div2_set1 {
    width: 1200px;

padding-top:173px;
margin: auto;
}
.div2_set2 {
    width: 1200px;
height: 126px;
display: flex;
}
.div2_set3 {

height: 126px;
display: flex;
}

.div2_img {width: 88px;
    height: 88px;}
.text1 >span {
    letter-spacing: 0.135em;


color: #FEC90C;
}
.text1 {font-family:'Noto Sans';
    letter-spacing: 0.135em;
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 156.5%;
color: white;}
.div2_set5 {
    width: 620px;
height: 126px;
flex:1;
margin-left:39px;
}
.text2 {font-family:Nunito ;
    font-style: normal;
font-weight: 600;
font-size: 40px;



color: #FFFFFF;
}
.div2_set6 {
    
    margin-left: auto;
    margin-top: auto;
    
   
}
.div2_but1 {

 width: 174px;
height: 62px;


background: #FFFFFF;
border-radius: 7px;
font-family:Nunito ;
Top:64px;
Left:1026px;

}
.div2_set7 {
    width: 1200px;
height: 1017px;
margin: auto;
margin-top:90px;
margin-bottom: 173px;
}
.div2_set71 {
    width: 1200px;
height: 475px;

 }
.div2_set711 {
    width: 346px;
    height: 475px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

display: flex;

}
.div2_set712 {
    padding-top:41px;
    padding-right: 39px;
    
    padding-left: 39px;
    flex: 1;
    margin-right: 72px;
}
.div2_img {
    width: 153px;
height: 153px;
}
.text3 {
    font-family:Nunito ;
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;


margin-top:26px;
color: #FFFFFF;
}
.text4 {
    font-family:'Noto Sans' ;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
margin-top:14px;
margin-bottom: 26px;

color: #D0D0D0;
}
.button {
    font-family: Nunito;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 17px 70px 18px;


width: 266px;
height: 62px;

border: 1px solid #535355;
border-radius: 7px;

}


 .button:hover { 
   
    background: #FFDC60;
  
    border: none;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
    cursor: pointer;}

.div2_img2 {width: 14px;
    height: 14px;
    
  
   }
.div2_set713 { 
    padding-top:41px;
    padding-right: 39px;
    
    padding-left: 39px;
   
  margin-right: 72px;
}
.div2_set714 {padding-top:41px;
    padding-right: 39px;
    
    padding-left: 39px;
    
    float:right;

}
.div2_set715 {    width: 346px;
    height: 475px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

display: flex;
margin-top: 67px;




}

.div2_set715:first-child {
    margin-right: 70px;
}
.div3_cont{ 
    height: 1017px;
    background: #F5F5F5;
    margin: auto;}
.div3_cont1 {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.div3_cont2{
    height: 203px;
    display: flex;
}
.div3_cont3{
    
    justify-content: center;
    width: 473px;
height: 203px;
}
.div3_img1 {
    margin-top:70px;
    
    width: 88px;
    height: 88px;
    display: block;
    margin-left: auto;
    margin-right: auto;}

    .text5 {font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 156.5%;
        color:#292930;
        text-align: center;
        letter-spacing: 0.135em;
        text-transform: uppercase;
    margin-top: 30px;}
   .text5 >span {color:     #FFDC60}
   .text6 {
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 110.5%;
margin-top:14px;

text-align: center;

color: #292930;
   }
 .cont_3{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
 }
 .cont3_div1{
    width: 473px;
    display: flex;
    justify-content: center;
    margin-top: 94px;
 }
 .cont3_div2{    width: 1200;
    
}
.cont3_div3{display: flex;
    justify-content: center;}
.doll {width: 88px;
    height: 88px;
   
    border-radius: 100px;
    }
.cont_31{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 170px;
    
}
.cont31{
    width: 389px;
    
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
    ;
border-radius: 10px;
}
.cont31_1{
    width: 313px;
height: 464px;
border-radius: 10px;
    margin-top:45px;
    margin-right: 38px;
    margin-bottom: 45px;
    margin-left: 38px;
   
}
.cont31_2 {margin-left: 29px;

justify-content: center;}
.p1 {
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 110.5%;




color: #292930;
}
.p2 {
    font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 50px;




color: #292930;
}
.p2 > span {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 244%;

font-family: 'Noto Sans';


color: #555555;
}
.cont31_11{display: flex;}
.line1 {
    margin-top:30px;
    margin-bottom: 30px;
    width: 302px;
 
    border: 1px solid #D3D3D3;}
.p4 {
    font-family: 'Noto Sans';
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 244%;



color: #555555;
}
.cont31_3 >p >span {
    margin-right: 10px;
  
}
.button17 {font-family: Nunito;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin-top:30px;

width: 314px;
height: 64px;
background-color: black;
color: white;
border: 3px;
    }
.button17:hover { 
   
    



    background:#FFFFFF ;
  
    border: none;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930 ;
    cursor: pointer;}
.cont31:hover {background-color: black;
    border: none;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
} 
.cont_4 {
  background-color:   #292930;
height: 1034px;
display: flex;
justify-content: center;
}
.cont_41 {
    width: 1200px;
    height: 652.16px;
    display: flex;
    
    margin-top: 191px;
}
 .cont_411{
    width: 399px;
    height: 652.16px;
    
    background: #3C3C45;
    border-radius: 7px;}
.cont41_1 {
    width: 293px;
height: 554.16px;
margin-top: 49px;
margin-right: 53px;
margin-bottom: 49px;
margin-left: 53px;

}
.cont41_4 {
 width: 288px;
height: 85px;
margin-top: 20px;
}
.cont4 {font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    /* identical to box height, or 28px */
    
    
    color: #FFFFFF;
    }
    .cont5 { font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 156.5%;
        
        
        
        color: #D0D0D0;}
    input {width: 293px;
        height: 62px;
        background: #5B5B61;
        border-radius: 7px;
        
        padding-left: 26px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: capitalize;
        color: #FFFFFF;   
        
        
    }
    .cont41_5 {margin-top: 18px;}
    .cont41_6 {margin-top:10px;}
    .cont6{
       
   
 
    width: 293px;
height: 62px;

background: orange;
border-radius: 7px;
font-style: normal;
font-weight: 500;

line-height: 160%;
/* identical to box height, or 29px */

text-transform: capitalize;

color: #292930;


    }
 .cont41_6 > a { 
    font-size: 18px; 
    font-family: 'Nunito';}   
.cont42 {
    width: 702px;


display: flex;
justify-content: space-between;

}
.adress1 {
    width: 223px;
height: 28px;

}
.foot1 {
    font-family: 'Nunito';
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
/* identical to box height, or 28px */

color: #FFFFFF;}
.foot2 {width: 20px;
    height:20px;
    margin-right: 5px;
    border: 1.5px solid #3AD879;}
.footer3 {margin-top: 18px;
    width: 230px;
height: 62px;
left: 0px;
top: 45px;

background: #3C3C45;
border-radius: 7px;
font-style: normal;

font-size: 25px;


font-family: 'Noto Sans';

color: #FFDC60;
margin-bottom: 17px;}
.footer4 {
    font-family: 'Noto Sans';
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;



color: #FFFFFF;
}
.adress2 {width: 297px;
    height: 152px;
margin-left: 142px;}
.foot6 {width: 20px;
    height:20px;
    border: 1.5px solid #FFDC60;
    margin-right: 5px;
    
}
.foot5 {
    font-family: 'Nunito';
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
/* identical to box height, or 28px */

margin-bottom: 20px;
color: #FFFFFF;
} 
.footer6 {
    font-family: 'Noto Sans';
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
/* or 28px */

margin-bottom: 20px;
color: #FFFFFF;

}
.adress2 >a {
    font-family: 'Noto Sans';
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
/* or 28px */



color: #FFDC60;

}

.cont43 {display: flex;
    justify-content: space-between;
    
}
.footer{margin-left:99px;}
.line9 {
    width: 702px;
height: 0px;
margin-top: 30px;
margin-bottom: 30px;
border: 1px solid #727274;

}
.cont43-1 {
    width: 120px;
    
  
    
}
.footer7{
   


font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;

gap:5px;

color: #FFFFFF;
}
.footer9 {
    font-family: 'Noto Sans';
    font-style: normal;
    margin-top: 15px;

font-size: 18px;



color: #FFFFFF;
}
.footer7 >a {
    color: #FFFFFF !important;

}
.footer10{
    width: 183px;
height: 28px;
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
margin-bottom: 37px;
margin-left:10px;

color: #FFFFFF;
}
.line51{
   margin-top:50px;}
.footer11 {
    margin-top:20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 211.5%;
    /* identical to box height, or 38px */
    
    font-family: 'Noto Sans';
    color: #FFFFFF;
    }